<div class="right-side">
  <div class="add-first">
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
    <!-- 우측 광고 -->
    <ins
      class="adsbygoogle"
      style="display: block"
      data-ad-client="ca-pub-8247516864622650"
      data-ad-slot="9124111205"
      data-ad-format="auto"
      data-full-width-responsive="true"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <br />
  <br />
  <div class="add-second">
    <!-- 우측 광고2 -->
    <ins
      class="adsbygoogle"
      style="display: block"
      data-ad-client="ca-pub-8247516864622650"
      data-ad-slot="5156946039"
      data-ad-format="auto"
      data-full-width-responsive="true"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
